[Unit]
Description=alpaDrive script
After=network.target

[Service]
ExecStart=/usr/bin/alpadrive.sh
WorkingDirectory=/home/pi/vehicle
User=root
Group=root

[Install]
WantedBy=multi-user.target
